@{
    TestimonialSlider testimonialSlider = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Testimonial slider Details</h4>

                <p><b>Fullname: </b> @testimonialSlider.FullName</p>
                <p><b>Position: </b> @testimonialSlider.Position</p>
                <p><b>Testimonial: </b> @testimonialSlider.Testimonial</p>
                <p><b>Slider image:</b> </p> <img src="/assets/img/testimonial/@testimonialSlider.ImageName" class="w-25" />
                <br /> <br />
                <p><a class="btn btn-light" asp-action="Index">Cancel</a></p>
            </div>
        </div>
    </div>
</div>