@{
    List<TestimonialSlider> testimonialSliders = Model;
}

@if(testimonialSliders.Count>0)
{
    <div class="testimonial-area pt-110 pb-105 text-center">
        <div class="container">
            <div class="row">
                <div class="testimonial-owl owl-theme owl-carousel">
                    @foreach (var testimonialSlider in testimonialSliders)
                    {
                        <div class="col-md-8 col-md-offset-2 col-sm-12">
                            <div class="single-testimonial">
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img src="~/assets/img/testimonial/@testimonialSlider.ImageName" alt="testimonial">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>@testimonialSlider.Testimonial</p>
                                        <h4>@testimonialSlider.FullName</h4>
                                        <h5>@testimonialSlider.Position</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}