@model BlogCreateViewModel

<div class="row col-sm-6">
    <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Create blog</h4>
                <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content">Content</label>
                        <input asp-for="Content" class="form-control" placeholder="Content">
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Writer">Writer</label>
                        <input asp-for="Writer" class="form-control" placeholder="Writer">
                        <span asp-validation-for="Writer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date">Date</label>
                        <input type="date" asp-for="Date" class="form-control" placeholder="Date">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CommentCount">CommentCount</label>
                        <input asp-for="CommentCount" class="form-control" placeholder="CommentCount">
                        <span asp-validation-for="CommentCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image">Image</label>
                        <input asp-for="Image" class="form-control" placeholder="Name" accept="image/*">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">Parent Categories</label>
                        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" placeholder="Parent Categories"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

